body { padding:60px 0 0 0; margin:0; background-color:#fff; font-family:Verdana, Trebuchet, Arial, sans-serif; text-align:center; color:#666; font-size:100%; }
h1 { color:#8bbad6; font-size:28px; }
h2 { color:#ff9f40; font-size:16px; }
h2 a { color:#ff9f40; font-size:16px; display:inline !important; }
.linky { margin-top:40px !important; color:grey; font-size:14px; }
.linky a { display:inline !important; color:grey; }
.what { position:relative;  }
.what input { margin:0 8px; width:200px; left:0; border:1px solid #aaa; }
.checksum { margin-bottom:15px; }
#checksum { width:320px; text-align:center; font-size:2em; border:1px solid #fff; }
#implementations { margin: 25px 0; }
a { display:block; width:200px;	 margin:0 auto; color:#000; font-size:0.8em; }
#implementations a { display: inline; }
a#waudit {display:none; }
a#colour { font-weight:bold; font-size:18px; color:#9900cc; }
#colorcode { width:256px; margin:0 auto 0 auto; padding:0; height:32px; }
#colorcode div { float:left; height:2px; width:8px; }